html {
  scroll-behavior: smooth;
}

 
.magic{
  background: linear-gradient(to right, rgb(227, 227, 2),#E92EC0,rgb(227, 227, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 3s infinite;
  animation-timing-function: linear;

}
@keyframes background-pan {
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}





body{
    background-color: black  ;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100px;   
    
}


/*--custom scrollbar-- */
body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 5px;

}
body::-webkit-scrollbar:hover {

  width: 10px;  
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(132, 0, 255);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

/*
--end for custom scrollbar--











---mouse gradient---*/
#blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,yellow ,blueviolet );
    animation: rotate 5s infinite;
    opacity: 0.8;
    z-index: 0;
  }
  
  #blur {
    top: 0px;
    left: 0px;
    height: 3800px;
    width: 100vw;
    position: absolute;
    z-index: 0;
    backdrop-filter: blur(12vmax);
  }









  
#mainHeading{
    position:absolute;
    z-index: 3;
    margin: auto;
    height: 1vh;
    width: 100vw;
    padding: 40vh 0;
  
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
}















body:hover > #trailer {
  opacity: 1;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 500000;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;

  opacity: 0;
  transition: opacity 400ms ease;
}





















#scroll{
    position:absolute;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 40px;
    width:100vw;
    padding: 80vh 0;

}
#scroll-text {
  font-size: 15px;
  font-family: "Raleway ", sans-serif;
  font-weight:700;
}





.house-icon-time-image {
  left: -160px;
}






#text2{
  position: absolute;
  z-index: 4;
  width: 100vw;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin:auto;
  padding: 120vh 0;
  font-size: 40px;
  height: 1vh;
}

#button-start {
  position: absolute;
  z-index: 10000000;
  width: 100vw;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin:auto;
  top: 360px;
  font-size: 40px;
  height: 100vh;
}

#getStartedButton{
  font-size: 17px;
  background-color: white;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  overflow:hidden;
  transform: perspective(1px) translateZ(0);
  border-color: white;
  border-style: hidden;
  cursor:pointer;
  transition: all 0.2s cubic-bezier(.86, .01, .15, .99);
  color: black;
  font-family: 'Raleway', sans-serif;

}
#service-button-text{
  position: relative;
  z-index: 10000;
}
#getStartedButton::before {
	content: "";
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
  clip-path: circle(0.5% at 50% 50%);
	background: #5a10c2;
	transition: 0.4s;
	opacity: 1;
}
#getStartedButton:hover {
	color: white;
	box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

#getStartedButton:hover::before {
	clip-path: circle(100% at 50% 50%);
}





/*--for scrolling to service selection*/
#scroll-container{
  position: absolute;
  padding-top: 370vh;
}





















/*Options for Services


/* 
--Main Flexbox --
*/
.ServiceSelect {
  display: flex;
  flex-direction: row;
  padding-top: 400vh;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  z-index: 5;
  width: 100vw;
  align-self: center;
  font-family: "Raleway", sans-serif;
  
}



/* -- Services Boxes [ALL] -- */
.ServiceBox{
  font-family: "Raleway", sans-serif;
  position: relative;
  background-color: aliceblue;
  height: 230px;
  width: 230px;
  color: black;
  background-color: transparent;
  z-index: 5;
  border-radius: 30px;
  cursor: pointer;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  animation: shrink-after;
  animation-duration: 0.3s;
}

.ServiceBox-grad{
  font-family: "Raleway", sans-serif;

  position: relative;
  background-color: aliceblue;
  height: 200px;
  width: 200px;
  color: black;
  background-color: white;
  z-index: -1;
  border-radius: 15px;
  cursor: pointer;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  animation: shrink-after;
  animation-duration: 0.3s;
}

.service-text{
  font-size: 35px;
}



.ServiceGrad {
  display: flex;
  flex-direction: row;
  padding-top: 400vh;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  z-index: -1;

}

/* Grow when user hovers*/


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes grow-flex {
  from{flex-grow: 0;}
  to{flex-grow: 0.09;}
}


.ServiceBox:hover:before, .ServiceBox:hover:after {

  animation: radius-inc;
  animation-duration: 0.1s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
}
.ServiceBox-grad:hover:before, .ServiceBox-grad:hover:after {

  animation: radius-inc;
  animation-duration: 0.1s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
}
.service-text {

  color: white;
}
.service-text:hover:before, .service-text:hover:after {
  animation: radius-inc;
  animation-duration: 0.3s;
  animation-timing-function:linear;
  animation-fill-mode: forwards;
}
.ServiceBox:hover {
  animation: radius-inc2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards ;
}




@keyframes grow-hover {
  from{flex-grow: 0;}
  to{flex-grow: 1;}
}
@keyframes radius-inc {
  to{border-radius: 130px;  transform: scale(70%) translateY(30px); }
}
@keyframes radius-inc2 {
  to{border-radius: 130px;  transform: scale(70%) translateY(30px); }
}
@keyframes radius-dec {
  to{border-radius: 30px;  transform: scale(100%) translateY(0px);}
}

@keyframes shrink-after {
  from{border-radius:130px;transform: scale(70%) translateY(30px);}
  to{border-radius: 30px;transform: scale(100%) translateY(0px);}
}



#electric-box::after {
  position: absolute;
  content: "";
  left: -10;
  right: -10;
  z-index: -1;
  height: 130%;
  width: 130%;
  border-radius: 40px;
  margin: 0 auto;
  transform: scale(0.8);
  background-size: 200%;
  /* filter: blur(7vmax); */
  background: linear-gradient(
    to right
    ,  #F2CB05, #A64029);

}

#water-box::after {
  position: absolute;
  content: "";
  left: -10;
  right: -10;
  z-index: -1;
  height: 130%;
  width: 130%;
  border-radius: 40px;
  margin: 0 auto;
  transform: scale(0.8);

  /* filter: blur(7vmax); */
  background: linear-gradient(
    to right
    ,  #13547a, #80d0c7);

}

#home-box::after {
  position: absolute;
  content: "";
  left: -10;
  right: -10;
  z-index: -1;
  height: 130%;
  width: 130%;
  border-radius: 40px;
  margin: 0 auto;
  transform: scale(0.8);

  /* filter: blur(7vmax); */
  background: linear-gradient(
    to right
    , #5a7340, #192617);

}

#comp-box::after {
  position: absolute;
  content: "";
  left: -10;
  right: -10;
  z-index: -1;
  height: 130%;
  width: 130%;
  border-radius: 40px;
  margin: 0 auto;
  transform: scale(0.8);

  /* filter: blur(7vmax); */
  background: linear-gradient(
    to right
    , rgb(66, 19, 109), black);

}

















/*
----about text----
*/

.about-text {position: absolute;
  z-index: 1;
  color: white;
  
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

 
}
#sec-1 {
  background-color: #00c23d;
  left: 50px;
}
#about-1 {
  
  min-height: 10%;
  max-height: 400%;
  padding: 160vh 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
}

sub{
  font-size: 29px;
}

.house-icon-time-image {
  position: relative;
  border-radius: 20%;
}

#about-2 {
  padding: 220vh 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
}

#about-3 {
  padding: 300vh 0;
  display: flex;
  font-family: "Raleway", sans-serif;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
}

#select-text {
  width: 100vw;
  text-align: center;
  font-size: 60px;
  font-family: "Raleway",sans-serif;
  color: white;
  position: absolute;
  z-index: 15;
  padding-top: 370vh;
}



section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.about-grad {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to right, #9e5ef7,#360975);
  width: 100vw;
  padding-top: 90vh;

}

.grad-2 {
  left: 0px;
  top: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -3;
  background: linear-gradient(to right, rgba(253,189,85,1) 7.18%, rgba(249,131,255,1) 100.3%);
  padding-top: 240vh;
}




.bottom-text{
  font-family: "Raleway",sans-serif;
  text-align: center;
  width: 100vw;
  position: absolute;
  z-index: 15;
  color: white;
  font-size: 30px;
  
}



/* curves */
.spacer {
  
  padding-top: 100vh;
  position: absolute;
  z-index: 1;
  aspect-ratio: 1060/300;
  left: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  background-image: url("Assets/wave1.svg");
  
  
  
}
.spacer2  {
  
  padding-top: 220vh;
  position: absolute;
  z-index: 1;
  aspect-ratio: 1060/300;
  left: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  background-image: url("Assets/wavetop.svg");
  
}

.spacer3 {
  
  
  position: absolute;
  z-index: 1;
  aspect-ratio: 1060/300;
  left: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  background-image: url("Assets/wave1.svg");
  
  
  
}



.hidden {
  opacity: 0;
  transform: translateX(-80%);
  filter: blur(10p);
  transition:all 1s;
}

.hidden-r {
  opacity: 0;
  transform: translateX(80%);
  filter: blur(10px);
  transition:all 1s;
}

.fade-in {
  opacity: 0;
  transform: scale(0%);
  filter: blur(10px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: scale(100%);

}






 




